

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=453ba52ad7b512705656a61f78bd11ad&auto=format&fit=crop&w=1500&q=80');">
  <div class="banner-content">
    <h1>Cocktails</h1>

    <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-primary" %>
    <p>
      <br>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<div class="list">
  <ol>
  <div class="list">
    <% @cocktails.each do |c| %>
    <li><%= link_to c.name, cocktail_path(c) %> </li> <br>
    <% end %>
  </ol>
</div>
